* {
  margin: 0;
  padding: 0;
}
:root {
  --light-Cyan: #cee3e9;
  --neon-Green: #52ffa8;
  --grayish-Blue: #4e5d73;
  --dark-Grayish-Blue: #323a49;
  --dark-Blue: #1f2632;
}
body {
  font-size: 28px;
  background: var(--dark-Blue);
  display: grid;
  min-height: 100vh;
  place-items: center;
  padding-inline: 1.6rem;
}
